extends layouts/main

block content
    .form-container
        form(action=routes.editProfile,method="post")
            .fileUpload
                label(for="avatar") 프로필사진
                input(type="file", id="avatar", name="avatar")
            input(type="text",placeholder="이름",name="name")
            input(type="email",placeholder="이메일",name="email")
            input(type="submit",value="사진 변경")
        a.form-container__link(href=`/users${routes.changePassword}`)
            button 비밀번호 변경
