extends layouts/main

block content
     .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button#jsRecordBtn Start Recording
        form(action=`/videos${routes.upload}`, method="post",enctype="multipart/form-data")
            div.fileUpload
                label(for="file") Video File
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="제목", required=true,name="title")
            textarea(required=true,name="description", placeholder="영상 추가설명 ")
            input(type="submit", value="업로드")